<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<link rel="stylesheet" href="../assets/css/style.css" type="text/css"/>
		<title>Burger Time</title>
		<style>
			h1 {
				font-weight: bold;
				margin-bottom: 15px;
				border-bottom: 1.5px solid black;
			}
			#addBurger {
				text-align: center;
			}
			#eatBurger {
				color: green;
				float: left;
				margin-left: 75px;
			}
	
			#eatenBurgers {	
				color: red;
				float: right;
				margin-right: 75 px;
			}
			#footer {
				clear: both;
			}
		</style>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>